---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Spondicious is an invented word"
  pubDate={new Date("Oct 08 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    The actor, comedian Lenny Henry was in a silly sitcom many years ago. His
    character invented the word Spondicious to exclaim when something was
    totally excellent. Lenny is also from Birmingham.
  </p>

  <p>
    I'm an English bloke living in Catalonia and I love technology. I remember
    back to when I was a young one and had to walk down the road to a public
    phone box to make a call. Love that we now have computers in our pockets and
    can do amazing things with modern software and hardware. I can't help in finding joy in manipulating technology.
  </p>

  <p>
    I am a Mac and Apple guy through and through. I do have an Android phone at
    the moment but I had to get it to test my apps on an Android device. I do
    twiddle and fiddle with Linux on Raspberry Pi computers. The Mac software is
    always better designed with form following function. The apps are just
    prettier and a great to use.
  </p>

  <p>
    Tried learning coding many times and lately I have got on well with Python
    and Django. Now that I have <a href="/blog/flutterflow">FlutterFlow</a> for making apps I am as happy as can
    be. FlutterFlow is coding as it should be. Most of the arcane language and
    repetative nonsense of coding is abstracted away.
  </p>

  <p>
    Most of the websites I have made in the past have been Wordpress sites. So
    easy to get up and running in an afternoon. This site is made with Astro and
    I'm loving it. Easy setup and It takes just minutes to get it live on the
    internet. With Astro I use Tailwind to style the page and it has been extra
    easy to set up the Tailwind here too.
  </p>
</Layout>
