---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Spondicious is an invented word"
  pubDate={new Date("Oct 08 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    The actor, comedian Lenny Henry was in a silly sitcom many years ago. His
    character invented the word Spondicious to exclaim when something was
    totally excellent. Lenny is also from Birmingham.
  </p>

  <p>
    I'm an English bloke living in Catalonia and I love technology. I remember
    back to when I was a young one and had to walk down the road to a public
    phone box to make a call. Love that we now have computers in our pockets and
    can do amazing things with modern software and hardware. I can't help in finding joy in manipulating technology.
  </p>

  <p>
    I am a Mac and Apple guy through and through. I do have an Android phone at
    the moment but I had to get it to test my apps on an Android device. I do
    twiddle and fiddle with Linux on Raspberry Pi computers. The Mac software is
    always better designed with form following function. The apps are just
    prettier and a great to use.
  </p>

  <p>
    Tried learning coding many times and lately I have got on well with Python
    and Django. Now that I have <a href="/blog/flutterflow">FlutterFlow</a> for making apps I am as happy as can
    be. FlutterFlow is coding as it should be. Most of the arcane language and
    repetative nonsense of coding is abstracted away.
  </p>
  <h2>
Coding Update 2026
  </h2>
  <p>

  Flutterflow is now in my rear view mirror. It was great while I was using it, but I have moved on to using AI for my coding. I have loved working with Warp to make code. I have also made software with Google AI Studio and Gemini Commandline tool. AI is definitely the way forward. I like the way I can get a Django project set up ready to work on and customise and I don't have to keep re-inventing the wheel each time. I just have to create an agent and set it on it's journey. Then I can build on top. Flutterflow was bringing in some AI but it was slow to arrive and not that useful.
  </p>
  <p>
  I have also set up Ollama so I can work locally with some LLM's. I'm still happy with Perplexity that I got free for the year. I will have to get something set up for when the free year is over. I have looked at Claude code but I'd have to have a subscription to use that. I prefer to pay as I go. Which is why I cut the subscription of Warp. I didn't get enough credits to last the whole month and needed to buy more to keep woking on a project. If I had a quiet month with it and didn't use the monthly credits, they didn't carry over to the next month. 
  </p>

  <p>
Other AI Usage - Loving the Google Notebook LLM for research. If I need the AI to look specifically at certain documents the Notebook is really useful. I like to get a summary in audio format when I am learning something. I throw in a couple of Youtube links on the subject and it chats about what is in the videos. It enhances my learning after consuming the video I get a different format which helps me get the information in my head.
  </p>

  <h2>
Making Websites
  </h2>

  <p>
    Most of the websites I have made in the past have been Wordpress sites. So
    easy to get up and running in an afternoon. This site is made with Astro and
    I'm loving it. Easy setup and It takes just minutes to get it live on the
    internet. With Astro I use Tailwind to style the page and it has been extra
    easy to set up the Tailwind here too.
  </p>
</Layout>
