---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Totally Spondicious</h1>
			<p>
				 I created this website with Astro because it is so simple to set up.
			</p>
			<p>
				Also added Tailwind to the project and that has to be the quickest way to set up a Tailwind based site.
			</p>
			<p>What do I do? Basically lots of lovely geeky and nerdy stuff. Why? Why not... Twiddling and fiddling with technology is just loads of fun.</p>
			<h2 class="text-2xl font-semi">Interesting technology</h2>
			<ul>
				<li>Making websites with Astro, Hugo, plain html, css, Tailwind aswell as web apps with Django and Python.</li>
				<li>I create apps for iOS, Android and Mac.
				</li>
				<li>Coding is fun, even if sometimes it can make you want to pull your hair out.</li>
				<li>Sometimes I learn some new technology just for the sake of learning something new.</li>
				<li>Mostly I play with software, but I'm also into seeing what I can do with Raspberry Pi's.</li>
			</ul>
			<h2 class="font-semibold ">Apps I like using...</h2>
			<ul>
				<li class="text-black ">Used to use Obsidian for all my notetaking but now my preference is Craft. It is a proper native app for all the platforms where I use it.</li>
				<li class="text-black ">Kitty is the terminal I use most, I also find Warp to be handy from time to time.</liv>
				<li class="text-black ">Like the nerdiness of Neovim but VS Code has some many useful features.</li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
